.main_font {
  font-family: Montserrat, Arial, sans-serif;
  color: #515076;
}

.title {
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  margin: 0;
  text-align: center;
  color: #515076;
}

.products_list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  font-size: 13px;
  width: 1110px;
}

.background_img {
  background-image: url('/images/background_dandelions.png');
  background-repeat: no-repeat;
}

.compaund {
  padding-inline-start: 13px;
}

.main_text {
  color: #515076;
  line-height: 18px;
}

.products_card {
  width: 290px;
  background-color: #F7F7FA;
  padding: 25px;
  margin: 25px;
}

.purpose {
  font-size: 12px;
  line-height: 24px;
  color: #A5A3B9;
  text-transform: uppercase;
}

.products_img {
  width: 290;
  height: 245;
}

.products_card_sell {
  margin-top: 25px;
}

.products_card_price {
  margin-right: 150px;
}

.products_card_cost {
  text-align: right;
}